extends layout 

block content
    form(action="/new" class="mb-4" method="POST")
        div(class="form-group")
            label(for="name") Name 
            input(type="text" name="name" class="form-control") 
        div(class="form-group")
            label(for="message") Message 
            input(type="text" name="message" class="form-control") 
        input(type="submit" value="add message" class="btn btn-primary btn-block")